#profiles-page .card {
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}

#profiles-page .card:hover {
  box-shadow: 0 1em 1.5em 1em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

#profiles-page .card .card-header {
  box-shadow: none;
  display: flex;
  justify-content: center;
}

.card .card-footer {
  margin-top: auto;
}

#profiles-page .card .card-header img {
  margin: 1rem 0;
  border-radius: 50%;
  width: 150px;
}

#profiles-page .card .card-content {
  text-align: center;
  padding-bottom: 0;
}

#profiles-page .card .card-content .social-icons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

#profiles-page .card .card-content .social-icons a {
  color: var(--color-primary);
}
