#not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

#not-found-image {
  width: 100%;
  height: 100%;
}

#not-found h1 {
  font-size: 2rem;
  text-align: center;
}

#not-found p {
  font-size: 1.3rem;
  text-align: center;
}
