@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

#navbar {
  padding: 1rem;
}

#navbar .navbar-brand a {
  font-family: Sacramento, sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  transition: color 0.3s;
}

#navbar .navbar-brand a:hover,
#navbar .navbar-brand a:focus {
  color: var(--color-primary);
}

#navbar #signin-btn {
  border: none;
}

#navbar #signup-btn {
  border-radius: 8px;
  padding: 1.25rem 1rem;
}

#navbar #signup-btn:hover {
  filter: brightness(115%);
}

#navbar .button {
  font-weight: 400;
}

#navbar .navbar-item a {
  font-weight: 600;
}
